<div id="main" class="palm-hasheader">
    <div class="palm-header">Add Task</div>
</div>
<div class="palm-group">
    <div class="palm-group-title">Title</div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div id="addtask_txtTaskTitle" x-mojo-element="TextField" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
    <div class="palm-group-title">Details</div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div id="addtask_txtTaskNote" x-mojo-element="TextField" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title">
    <div id="addTask_datepickerDue" x-mojo-element="DatePicker" class="datepickerClass"></div>
</div>
<div id="addtask_btnAdd" x-mojo-element="Button"></div>

